<nav>
  <div class="container">
    <img src="assets/mtn.png" alt="MTN Logo" class="brand">

    <div class="menu">
      <a href="#">Store</a>
      <a href="#">Products & Services</a>
      <a href="#">Help & Support</a>
    </div>

    <div class="menu right">
      <svg class="search-icon" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1" fill="none">
        <line x1="18" y1="18" x2="16" y2="16" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></line>
        <circle stroke-width="2" cx="8" cy="8" r="7"></circle>
      </svg>
      <div class="section-name">
        <span class="indicator"></span>
        PERSONAL
        <svg class="caret-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>

    <div class="menu right menu-mobile">
      <svg class="search-icon" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1" fill="none">
        <line x1="18" y1="18" x2="16" y2="16" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></line>
        <circle stroke-width="2" cx="8" cy="8" r="7"></circle>
      </svg>
      <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>
  </div>
</nav>
