@import "variables";

nav {
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
  overflow-y: visible;

  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

.menu {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  a {
    color: $text-dark;
    margin: 1.5rem;
    padding: 5px 10px;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 23px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba($text-light, 0.1);
    }
  }

  &.right {
    margin-left: auto;
  }

  .search-icon {
    height: 18px;
    color: $text-dark;
    padding: 10px 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .hamburger-icon {
    margin-left: 2rem;
    height: 18px;
    color: $text-dark;

    padding: 10px 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .caret-icon {
    height: 20px;
    color: $text-dark;
  }

  .section-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 32px;
    color: $text-light;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: rgba($text-light, 0.1);
    }

    .indicator {
      margin: 0 0.5rem;
      background-color: $brand-primary;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 8px;
    }
  }
}

img.brand {
  height: 5.5rem;
  border: 5px solid white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@media (min-width: 1080px) {
  .menu:not(.menu-mobile) {
    display: none;
  }

  .menu-mobile {
    display: flex;
  }

  img.brand {
    margin-left: 0rem;
  }
}

@media (min-width: 1366px) {
  .menu:not(.menu-mobile) {
    display: flex;
  }

  .menu-mobile {
    display: none;
  }

  img.brand {
    margin-left: 2rem;
  }
}
