.container {
  background-color: white;
  height: calc(100vh - 5rem);

  background: repeating-linear-gradient(
    90deg,
    rgb(238, 254, 255),
    rgb(238, 254, 255) 88px,
    rgb(223, 242, 244) 88px,
    rgb(223, 242, 244) 112px
  );
}
