@import "../styles/variables.scss";

.carousel {
  width: 100%;
  height: 100%;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-x: hidden;
}

.card-inner {
  background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
  border-radius: 16px 16px 12px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 0 0 2pt rgba(150, 150, 150, 0.08);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 18rem;
  margin: 0 auto;
}

.transition-transform {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.card {
  cursor: pointer;
  position: absolute;
  left: 0;
  font-family: "Work Sans";
  color: $text-dark;
  width: calc(100% / 6);
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: center;
  max-width: 120px;
}

.card-center {
  width: calc(100% / 6);
  flex-shrink: 0;

  .card-inner {
    border-bottom: 5px solid $brand-primary;
    transform: scale(2, 2);
    transition: transform 0.4s ease-in-out;
  }

  .card-title {
    max-width: 320px;
  }

  .card-action {
    opacity: 1;
  }
}

.card-action {
  font-size: 8px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  font-weight: bold;
  letter-spacing: 0.2px;
  color: $text-dark;
  text-decoration: none;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba($text-light, 0.1);
  }

  svg {
    display: inline-block;
    height: 0.8rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5px;
  }
}

.card-image {
  height: 80px;
  filter: saturate(0);
}

.carousel-text {
  position: absolute;
  z-index: 20;
  height: 30rem;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: 600;
  letter-spacing: -0.2px;
  font-weight: 300;
  text-align: left;
  pointer-events: none;

  strong {
    font-weight: 600;
  }
}

.carousel-buttons {
  top: 70%;
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;

  button {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: $text-dark;
    border-radius: 40px;
    border: none;
    color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 10;

    svg {
      height: 22px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1080px) {
  .card-inner {
    width: 200px;
  }

  .items {
    left: 0;
    position: absolute;
    width: 120%;
    overflow: hidden;
    margin-left: -10%;
  }

  .carousel-text {
    font-size: 24px;
    line-height: 28px;

    strong {
      width: 150px;
    }

    span {
      width: 150px;
    }
  }
}

@media (min-width: 1366px) {
  .items {
    position: relative;
    left: unset;
    width: 100%;
    margin: 0 0;
  }

  .carousel-text {
    font-size: 32px;
    line-height: 40px;

    strong {
      width: 200px;
    }

    span {
      width: 200px;
    }
  }
}

@media (min-width: 1920px) {
  .card-inner {
    width: 216px;
  }
}
