<div class="carousel">
  <div class="items" (mousedown)="mousedown($event)" (mousemove)="mousemove($event)" (mouseup)="mouseup()">
    <div class="carousel-text">
      <span>What are you</span><strong>here to do?</strong>
    </div>
  
    <!-- Actual cards -->
    <div class="card" *ngFor="let card of cards; trackBy: id" #card [style.transform]="'translate(' + getTransform(card.index)+ 'px)'" [style.opacity]="getOpacity(card.index)" [ngClass]="{ 'card-center': isCenter(card.index), 'transition-transform': !isDragging }">
      <div class="card-inner">
        <img src="assets/{{card.item.image}}" alt="Card Image" class="card-image">
        <span class="card-title">
          {{ card.item.title }}
        </span>
        <a class="card-action">
          START HERE
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="carousel-buttons">
    <button class="carousel-button" (click)="moveCards(1)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <button class="carousel-button" (click)="moveCards(-1)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>
</div>
