/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  background-color: rgb(245, 198, 198);
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1080px) {
  .container {
    max-width: 752px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 14164px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
